$black: #000;

$off-black: #222;
$dark-grey: #444;
$mid-grey: #888;
$light-grey: #bbb;
$lighter-grey: #ddd;
$off-white: #fafafa;

$white: #fff;

$blue: #4a77fc;
$red: #fc4a4a;
$green: #4afc77;
$yellow: #fcd04b;
