# venv files
venv/

# Byte-compiled / optimized / DLL files
.idea/
__pycache__/
*.py[cod]

# Built arduino files
automation_network/devices/builds/**/*.ino
automation_network/devices/builds/**/config.h
